// Load Source Sans Pro from Google Fonts.
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

// Colors
$primary: #3ac569;
$secondary: #a3a1a1;
$light: #F4F5F9;
$dark: #252525;
$body-bg: $dark;
$body-color: $light;
$nav-pills-link-active-color: $dark;
//
$link-hover-decoration: none;
$font-family-sans-serif: 'Montserrat', sans-serif;

@import '~bootstrap/scss/bootstrap';

.navbar {
  font-weight: 500;
}

.content {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
}

article h3 {
  line-height: 1.4;
  font-size: 24px;
  font-weight: 500;
}
article .icon {
  position: relative;
  right: 60px;
}
article svg {
  position: absolute;
  fill: $primary;
  width: 32px;
  height: 32px;
}
article a:hover svg {
  fill: #298a4a;
}

.avatar {
  height: 200px;
}

.fontWeight400 {
  font-weight: 400;
}
.fontWeight500 {
  font-weight: 500;
}

.project .card {
  background-color: #323232;
  transition: .2s transform ease-in-out;

  &:hover {
    transform: scale3d(0.96, 0.96, 1);
  }
}

hr {
  border-color: #323232;
}
