// Load Source Sans Pro from Google Fonts.
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

// Colors
$primary: #3ac569;
$light: #f4f5f9;

$font-family-sans-serif: 'Montserrat', sans-serif;

@import '~bootstrap/scss/bootstrap';
